
<!-- ============== IS THERE =================== -->

{% extends "layout.html" %}

{% block content %}
<article class="container pt-5">
{% if signal_admin_post.image != "default.jpg" %}
    <i class='bx bx-arrow-back' title="back" onclick="history.back()"></i>
    <div class="card mb-3">
        <img class="overview-image" style="width:100%;height:auto;" alt="image" src="{{ url_for('static', filename='photos/' + signal_admin_post.image ) }}">

        <div class="card-body">
            <h5 class="card-title">{{ signal_admin_post.title }}</h5>
            <p class="card-text article-content">{{ signal_admin_post.post }}</p>
            <p class="card-text"><small class="text-muted">Posted on {{ signal_admin_post.posted_date.strftime("%d / %m / %Y") }} at {{ signal_admin_post.posted_date.strftime("%-I")|int + 2 }} : {{ signal_admin_post.posted_date.strftime("%-M") }} {{ signal_admin_post.posted_date.strftime("%p") }}</small></p>
        </div>
        {% if current_user.is_authenticated %}
        <div class="container mt-5 mb-3">
            <a class="btn btn-outline-warning" href="{{ url_for('update_signal', post_id=signal_admin_post.id) }}">Update</a>
            <a class="btn btn-outline-danger" href="{{ url_for('delete_signal', post_id=signal_admin_post.id) }}">Delete</a>
        </div>
        {% endif %}
    </div>
{% else %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">{{ signal_admin_post.title }}</h5>
            <p class="card-text article-content">{{ signal_admin_post.post }}</p>
            <p class="card-text"><small class="text-muted">Posted on {{ signal_admin_post.posted_date.strftime("%d / %m / %Y") }} at {{ signal_admin_post.posted_date.strftime("%-I")|int + 2 }} : {{ signal_admin_post.posted_date.strftime("%-M") }} {{ signal_admin_post.posted_date.strftime("%p") }}</small></p>
        </div>
        {% if current_user.is_authenticated %}
        <div class="container mt-5 mb-3">
            <a class="btn btn-outline-warning" href="{{ url_for('update_signal', post_id=signal_admin_post.id) }}">Update</a>
            <a class="btn btn-outline-danger" href="{{ url_for('delete_signal', post_id=signal_admin_post.id) }}">Delete</a>
        </div>
        {% endif %}
    </div>
{% endif %}
</article>
{% endblock %}