
<!-- ============== IS THERE =================== -->

{% extends "layout.html" %}

{% block content %}
<h1 class="c-post-descri alert alert-info">Create post in learn forex.</h1>
<div class="content-section">
    <div class="container">
        <form class="form-groups" action="" method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.date_posted.label(class="form-control-label") }}
                {% if form.date_posted.errors %}
                {{ form.date_posted(class="form-control form-control-date is-invalid") }}
                {% for error in form.date_posted.errors %}
                <div class="invalid-feedback">
                    <span> {{ error }} </span>
                </div>
                {% endfor %}
                {% else %}
                {{ form.date_posted(class="form-control form-control-date") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.image.label(class="form-control-label") }}
                {% if form.image.errors %}
                {{ form.image(class="form-control-file is-invalid") }}
                {% for error in form.image.errors %}
                <div class="invalid-feedback">
                    <span> {{ error }} </span>
                </div>
                {% endfor %}
                {% else %}
                {{ form.image(class="form-control-file") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                {{ form.title(class="form-control is-invalid") }}
                {% for error in form.title.errors %}
                <div class="invalid-feedback">
                    <span> {{ error }} </span>
                </div>
                {% endfor %}
                {% else %}
                {{ form.title(class="form-control") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.post.label(class="form-control-label") }}
                {% if form.post.errors %}
                {{ form.post(class="form-control-article is-invalid") }}
                {% for error in form.post.errors %}
                <div class="invalid-feedback">
                    <span> {{ error }} </span>
                </div>
                {% endfor %}
                {% else %}
                {{ form.post(class="form-control-article") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.post_button(class="btn btn-dark") }}
            </div>
        </form>
    </div>
</div>
{% endblock content %}