
<!-- ============== IS THERE =================== -->

{% extends "layout.html" %}

{% block content %}
<div class="currency_converter-container">
    <form method="POST" class="curr-converter-form">
        <div class="form-container">
            <input type="number" name="amount" class="amount-input curr-input" placeholder="0">
            <select name="currencyID_from" class="select from">
                {% for k, v in infos %}
                    <option value={{ k }}>{{ k }} - {{ v }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-container">
            <input type="number" name="amount-result" class="amount-result-input curr-input" placeholder={{ result }} disabled>
            <select name="currencyID_to" class="select to">
                {% for k, v in infos %}
                    <option value={{ k }}>{{ k }} - {{ v }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="submit-curr-btn">CARCULATE</button>
    </form>
</div>
{% endblock %}
