
<!-- ============== IS THERE =================== -->

{% extends "layout.html" %}

{% block content %}
<section>
    <div class="section-top">
        <h2>Users Feedbacks</h2>
    </div>
    {% for feedback in feedbacks %}
    {% if feedback %}
    <div class="feedback-cards">
        <div class="feedback-card">
            <div class="card-header-container">
                <span class="feedback-usr_name">{{ feedback.name }}</span>
                <span class="feedback-email">{{ feedback.email }}</span>
            </div>
            <div class="card-main-container">
                <h2 class="feedback-subject">
                    {{ feedback.subject }}
                </h2>
                <p class="body feedback-body">
                    {{ feedback.message }}
                </p>
            </div>
            <span class="feedback-date">{{ feedback.posted_date.strftime("%B %d, %Y") }}</span>
            <div class="card-footer">
                <a href="{{ url_for('delete_feedback', feedback_id=feedback.id) }}" class="btn btn-outline-danger">DELETE</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</section>
{% endblock %}
