
{% extends "layout.html" %}

{% block content %}
<div class="news-cards-container">
    {% for post in posts.items %}
    {% if post.image != 'default.jpg' %}
    <div class="news-card">
        <img class="overview-image" alt="" src="{{ url_for('static', filename='photos/' + post.image) }}">
        <div class="news-summary-container">
            <span class="text-muted date-posted">February 20, 2021</span>
            <h2 class="news-title-summary">
                <a class="news-title-summary-link" href="{{ url_for('post', post_title=post.title, post_id=post.id ) }}">{{ post.title }}</a>
            </h2>
            {% if post.post|length > 100 %}
            <p class="summary">
                {{ post.post[0:100] }}..
                <a class="read__more" href="{{ url_for('post', post_title=post.title, post_id=post.id ) }}">more</a>
            </p>
            {% else %}
            <p class="summary">{{ post.post }}</p>
            {% endif %}
        </div>
    </div>
    {% else %}
    <div class="news-card">
        <img class="overview-image" alt="" src="{{ url_for('static', filename='photos/default.jpg') }}">
        <div class="news-summary-container">
            <span class="text-muted date-posted">February 20, 2021</span>
            <h2 class="news-title-summary">
                <a class="news-title-summary-link" href="{{ url_for('post', post_title=post.title, post_id=post.id ) }}">{{ post.title }}</a>
            </h2>
            {% if post.post|length > 100 %}
            <p class="summary">
                {{ post.post[0:100] }}..
                <a class="read__more" href="{{ url_for('post', post_title=post.title, post_id=post.id ) }}">more</a>
            </p>
            {% else %}
            <p class="summary">{{ post.post }}</p>
            {% endif %}
        </div>
    </div>
    {% endif  %}
{% endfor %}
</div>
<div class="paginations">
    {% for page_num in posts.iter_pages() %}
    {% if page_num %}
    {% if posts.page == page_num %}
    <a class='btn btn-pagination' href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
    {% else %}
    <a class='btn-pagination-out' href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
</div>
{% endblock %}