
{% extends "layout.html" %}

{% block content %}
{% if posts.items|length > 0 %}

<!-- All Posts -->
<div class="news-cards-container">
    {% for post in posts.items %}
    <div class="news-card">
        <img class="overview-image" alt="" src="{{ url_for('static', filename='photos/' + post.image) }}">
        <div class="news-summary-container">
            <span class="text-muted date-posted">{{ post.posted_date.strftime("%B %d, %Y") }}</span>
            <h2 class="news-title-summary">
                <a class="news-title-summary-link" href="{{ url_for('post', post_title=post.title, post_id=post.id ) }}">{{ post.title }}</a>
            </h2>
            {% if post.post|length > 100 %}
            <p class="summary">
                {{ post.post[0:100] }}..
                <a class="read__more" href="{{ url_for('post', post_title=post.title, post_id=post.id ) }}">more</a>
            </p>
            {% else %}
            <p class="summary">{{ post.post }}</p>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>
<div class="paginations">
    {% for page_num in posts.iter_pages() %}
    {% if page_num %}
    {% if posts.page == page_num %}
    <a class='btn btn-pagination' href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
    {% else %}
    <a class='btn-pagination-out' href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
</div>
{% else %}
{% if current_user.is_authenticated %}
<h1 class="no-post__warning">No Post Yet <a class="nav-link" href="{{ url_for('new_post') }}">Create a post in learn forex</a> or <a class="nav-link" href="{{ url_for('create_post_signals') }}">Create a post in signals</a></h1>
{% else %}
<h1 class="no-post__warning">No Post Yet</h1>
{% endif %}
{% endif%}
{% endblock %}