

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Forex Leo 24">
    <meta property="og:description" content="Forex trading news and Signals updates">
    <meta property="og:image" content="https://raw.githubusercontent.com/r-e-d-ant/Body-Mass-Index/master/link_overview_fav.jpg">
    <meta property="og:url" content="https://www.forexleo24.com">
    <!-- Twitter -->
    <meta name="twitter:title" content="Forex Leo 24">
    <meta name="twitter:description" content="Forex trading news and Signals updates">
    <meta name="twitter:image" content="https://raw.githubusercontent.com/r-e-d-ant/Body-Mass-Index/master/link_overview_fav.jpg">

    <!-- Icons links -->
    <link href="{{ url_for('static', filename='boxicons-2.0.9/css/boxicons.min.css') }}" rel="stylesheet">

    <!-- •••••••••• -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico')}}">
    <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='post.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='signals.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='forms.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <!-- HEAD SCRIPT -->
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Forex Leo 24</title>
    {% endif %}
</head>
<body>
  <header>
    <a class="logo" href="{{url_for('home')}}">FX<b>leo26</b></a>

    <nav class="nav-bar">
      <ul class="nav-links">
        <!-- link 1 -->
        <li class="nav-item">
          <a href="{{ url_for('home') }}" class="nav-link">Learn forex</a>
        </li>
        <!-- link 2 -->
        <li class="nav-item">
          <a href="{{ url_for('signals') }}" class="nav-link">Signals</a>
        </li>
        <!-- link 3 -->
        <li class="nav-item">
          <a href="{{ url_for('currency_convert') }}" class="nav-link">Currency converter</a>
        </li>
        
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link"  href="{{ url_for('feedback') }}">Feedbacks</a>
        </li>

        <li class="nav-item">
          <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
        </li>

        <li class="dropdown">
          <div class="dropdown-menu">
            <a class="nav-link" href="{{ url_for('new_post') }}">New Learn Forex</a>
            <a class="nav-link" href="{{ url_for('create_post_signals') }}">New Signal</a>
          </div>
        </li>
        {% endif %}
      </ul>
    </nav>

    <div class="nav-icons">
      <i class='bx bx-menu'></i>
      <i class='bx bx-x'></i>
    </div>
</header>
<main class="container">
  <div class="">
    {% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>

{% block content %}{% endblock %}
</main>

<footer class="footer">
  <div class="end-footer">
    <span class="copyright text-muted">© 2021 "Forex Leo 26" All rights reserved</span>
    <span class="built_by text-muted">Developed by <a class="my__name" href="https://www.thierrymugisha.me" target="_blank">Thierry M.</a></span>
  </div>

  <ul class="footer-items">
    <li class="footer-item">
      <a class="nav-link-footer pos-relative" href="#">Terms and Conditions</a>
      </li>
      {% if not current_user.is_authenticated %}
      <li class="footer-item">
        <a class="nav-link-footer pos-relative" href="{{ url_for('contact') }}">Contact Us</a>
      </li>
      {% endif %}
  </ul>

  <ul class="social-footer-ul">
      <li class="social-item">
        <a href="https://t.me/forexleo24" target="_blank">
          <i class="bx bxl-twitter"></i>
        </a>
      </li>
      <li class="social-item">
        <a href="https://t.me/forexleo24" target="_blank">
          <i class="bx bxl-twitter"></i>
        </a>
      </li>
      <li class="social-item">
        <a href="https://www.instagram.com/forex_leo24/" target="_blank">
          <i class="bx bxl-instagram"></i>
        </a>
      </li>
  </ul>
</footer>
<!--- MYJS -->
<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
