
<!-- ============== IS THERE =================== -->

{% extends "layout.html" %}

{% block content %}
<div class="main-post-container">
    <i class='bx bx-arrow-back' title="back" onclick="history.back()"></i>
    <div class="card">
        <h5 class="post-title">{{ admin_post.title }}</h5>

        <img class="post-overview-image" alt="image" src="{{ url_for('static', filename='photos/' + admin_post.image ) }}">

        <div class="card-body">
            <span class="text-muted date-posted">
            {{ admin_post.posted_date.strftime("%B %d, %Y") }} at {{ admin_post.posted_date.strftime("%-I")|int + 2 }}:{{ admin_post.posted_date.strftime("%-M") }} {{ admin_post.posted_date.strftime("%p") }}</span>
            <p class="whole-post">{{ admin_post.post }}</p>
        </div>
        {% if current_user.is_authenticated %}
        <div class="container">
            <a class="btn btn-outline-warning" href="{{ url_for('update', post_id=admin_post.id) }}">Update</a>
            <a class="btn btn-outline-danger" href="{{ url_for('delete', post_id=admin_post.id) }}">Delete</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
