
{% extends "layout.html" %}


{% block content %}
<main class="signals-main">
    <h2 class="signal-action">Open</h2>

    <div class="signals-cards-container">
        {% for post in posts_signals %}
        <div class="signal-card">
            <div class="upper-side signal-pad">
                <div class="signal-information-container">
                    <span class="call-to-buy-txt">{{ post.signal_action }}</span>
                    <div class="currency-name-container">
                        <h3 class="currency-name">{{ post.currencies }}</h3>
                        <i class='bx bx-up-arrow-alt arrow-sell-buy'></i>
                    </div>
                </div>

                <div class="time-container">
                    <h4 class="time-open-txt">Open:</h4>
                    <span class="time-n-date-txt">
                        {{ post.posted_date.strftime("%H")|int + 2 }}:{{ post.posted_date.strftime("%M") }} {{ post.posted_date.strftime("%m") }}-{{ post.posted_date.strftime("%d") }}
                    </span>
                </div>
            </div>


            <div class="down-side signal-pad">
                <div class="left-side">
                    <h4 class="profit-loss-txt">Take a Profit: <em>{{ post.profit }}</em></h4>
                    <h4 class="profit-loss-txt">Stop Loss: <em>{{ post.loss }}</em></h4>
                </div>
                <div class="right-side">
                    <span class="price-txt">Price</span>
                    <span class="price-number">{{ post.price }}</span>
                </div>
            </div>
            {% if current_user.is_authenticated %}
                <div class="container">
                    <a class="btn-admin-shw btn-outline-warning" href="{{ url_for('update_signal', post_id=post.id) }}">Update</a>
                    <a class="btn-admin-shw btn-outline-danger" href="{{ url_for('delete_signal', post_id=post.id) }}">Delete</a>
                </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}