
.news-cards-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 2rem;
	row-gap: .5rem;
}

@media screen and (min-width: 1024px) {
	.news-cards-container {
		column-gap: 3rem;
		row-gap: .5rem;
	}
}

.news-card {
	margin-bottom: 2rem;
}

.overview-image {
	width: 300px;
	height: auto;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 1.3rem;
}

.date-posted {
	font-size: .9rem;
}

.news-title-summary {
	max-width: 19rem;
	margin-top: .8rem;
}

.news-title-summary-link {
	color: var(--primary-clr);
}
.news-title-summary-link:hover {
	text-decoration: underline;
}

.summary {
	color: var(--primary-clr-alt);
	max-width: 19rem;
	margin-top: .8rem;
}

.paginations {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1.3rem;
	margin-top: 3rem;
}

.btn-pagination, .btn-pagination-out {
	font-size: 1.2rem;
	padding: .4rem 1.1rem;
	border-radius: 5px;
}
.btn-pagination {
	background-color: var(--primary-clr);
	border: thin solid var(--primary-clr);
	color: var(--white-clr);
}
.btn-pagination-out {
	border: thin solid var(--primary-clr);
	color: var(--primary-clr);
}










