
/* ------ ALL POSTS ------ */
.news-cards-container {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	column-gap: 2rem;
	row-gap: .5rem;
}

@media screen and (max-width: 932px){
	.news-cards-container {
		justify-content: center;
	}
}

@media screen and (min-width: 1024px) {
	.news-cards-container {
		column-gap: 3rem;
		row-gap: .5rem;
	}
}

.news-card {
	margin-bottom: 2rem;
}

.overview-image {
	width: 300px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-bottom: 1.3rem;
}
@media screen and (min-width: 992px) {
	.overview-image {
		width: 350px;
		height: 237px;
		background-position: center;
		object-fit: cover;
	}
}

.date-posted {
	font-size: .8rem;
}

.news-title-summary {
	max-width: 19rem;
	margin-top: .8rem;
}

.news-title-summary-link {
	color: var(--primary-clr);
}
.news-title-summary-link:hover {
	text-decoration: underline;
}

.summary {
	color: var(--primary-clr-alt);
	max-width: 19rem;
	margin-top: .8rem;
	line-height: 1.3rem;
}


.read__more {
	font-size: .8rem;
	color: var(--link-clr);
	transition: 100ms color;
}
.read__more:hover {
	color: var(--second-clr);
}

/* ---- PAGINATION ---- */

.paginations {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1.3rem;
	margin-top: 3rem;
}

.btn-pagination, .btn-pagination-out {
	font-size: 1.2rem;
	padding: .4rem 1.1rem;
	border-radius: 5px;
}
.btn-pagination {
	background-color: var(--primary-clr-alt);
	border: thin solid var(--primary-clr);
	color: var(--white-clr);
}
.btn-pagination:hover {
	background-color: var(--primary-clr);
}
.btn-pagination-out {
	border: thin solid var(--primary-clr);
	color: var(--primary-clr);
}
.btn-pagination-out:hover {
	background-color: var(--gray-clr);
}

/* styles when there is no Post */
.no-post__warning {
	color: var(--primary-clr);
	font-size: 1.4rem;
}
.no-post__warning a {
	color: var(--link-clr);
	font-size: 1.4rem;
}










