/* FONT FAMILY*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); /* Indie Flower */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); /* Orbit */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ==================== BASE ================ */

body {
    position: relative;
    background-color: rgb(245, 243, 243);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.uppercase__case {
    text-transform: uppercase;
}

.uppercase__case_drop {
    text-transform: uppercase;
    font-size: 18px;
}

/* ==================== NAVBAR ================ */

.brand__style {
    font-family: 'Orbitron', sans-serif;
}

.navbar {
    background-color:#263238;
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
}
header {
    background-color: #e4f6ff;
    box-shadow: 5px 5px 30px rgb(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-nav {
    margin-top: 1.5rem;
}
.nav__bar {
    background-color: #263238;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.brand__name {
    color: #f4f4f4;
    text-transform: uppercase;
    font-size: 1.5em;
}
.nav__menu {
    transition: .5s;
    display: flex;
    align-items: center;
    background-color: #263238;
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__link {
    transition: .5s;
    color: #f4f4f4;
    text-transform: uppercase;
    letter-spacing: .05em;
}
.nav__link:hover {
    color: #ebe7e7;
}
.nav__item {
    transition: .5s;
    margin-bottom: 1.5em;
    margin-right: 0;
}
.nav__item:hover {
    transform: translateY(.2em);
}

/* ======== CLASSESS ========= */
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* ==================== OTHERS ================ */
.notify__btn {
    cursor: pointer;
}

.bx-arrow-back {
    transition: .5s;
    cursor: pointer;
    font-size: 26px;
    color: #263238;
}

.bx-arrow-back:hover {
    transform: rotate(60deg);
}

.b-bottom:hover {
    text-decoration: underline;
}

.btn {
    margin-right: 2em;
}
.read__more {
    font-size: 0.8em;
}
/* ==================== MAIN ================ */

.posts_article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
}

.article-content {
  white-space: pre-line;
  font-size: 22px;
  font-family: Helvetica;
  font-weight: 300;
}

.post-title {
    transition: .5s;
    font-size: 22px;
    color: rgb(48, 76, 87);
}

.post-title:hover {
    color: rgb(21, 29, 32);
}


.card-body {
    background-color: rgb(250, 250, 250);
}

.content-section {
    background-color: rgb(250, 250, 250);
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.c-post-descri {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

/* ==================== FOOTER ================ */
footer {
    width: 100%;
    background-color :#263238;
    min-height: 100px;
    padding: 10px 0px 25px 0px;
}

footer p {
    font-size:14px;
    color:#CCC;
}

.cp-credit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social_footer_ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 15px 0;
    list-style-type: none;
}

.social_footer_ul li svg { 
    width: 30px;
    height: 30px;
    margin: 0 20px;
}

.social_footer_ul li svg:hover {
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.footer-social-icons {
    transition: .5s;
}
.built_by {
    font-size: 16px;
    font-family: 'Indie Flower', cursive;
}
.name {
    display: flex;
    justify-content: center;
    align-items: center;
}
.my__name {
    transition: .5s;
    color: rgb(103, 112, 119);
}
.my__name:hover {
    color: #f4f4f4;
}


/*========== MEDIA QUERIES ========= */
@media screen and (max-width: 347px){
    .nav__bar {
        padding: 1em;
    }
    .bi-globe2 {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .navbar-nav {
        margin-top: 0;
    }
    .post-title {
        font-size: 26px;
    }
    .article-content {
        font-size: 24px;
    }
    .nav__item {
        transition: .5s;
        margin-bottom: 0;
        margin-right: 2em;
    }
}