/* FONT FAMILY*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); /* Indie Flower */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); /* Orbit */

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* ==================== ROOT ================ */
:root {
    --primary-clr: #253237;
    --primary-clr-alt: #4C565A;
    --second-clr: #CBA934;
    --gray-clr: #EEF0F1;
    --text-mute: #899194;
    --white-clr: #F9FAFB;
}

/* ==================== BASE ================ */

body {
    position: relative;
    background-color: var(--white-clr);
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.hide {
    display: none;
}
.show {
    display: block;
}

.uppercase__case {
    text-transform: uppercase;
}

.uppercase__case_drop {
    text-transform: uppercase;
    font-size: 18px;
}

/* ==================== HEADER ================ */
header {
    background-color: #253237;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 2rem;
}
.logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    color: var(--white-clr);
}
.logo b {
    color: var(--second-clr);
}
.bx-menu, .bx-x {
    cursor: pointer;
    color: var(--white-clr);
    font-size: 2.2rem;
}
.nav-icons {
    display: none;
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-item {
    margin: 0 1rem;
}
.nav-link {
    color: var(--white-clr);
    font-size: 1.2rem;
    letter-spacing: .02rem;
    position: relative;
    padding-bottom: .2rem;
}
.nav-link::before {
    content: "";
    background-color: var(--second-clr);
    width: 100%;
    height: .15rem;
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: 300ms transform;
}
.nav-link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

@media screen and (max-width: 768px) {
    header {
        padding: 1.2rem .5rem;
    }
    .nav-icons {
        display: block;
    }
    .bx-x {
        display: none;
        font-size: 2.3rem;
    }
    .show-icon {
        display: block;
    }
    .hide-icon {
        display: none;
    }
    .nav-bar {
        background-color: var(--primary-clr);
        border-bottom-left-radius: 1px;
        padding: .8rem .9rem;
        position: absolute;
        top: 4rem;
        right: .3rem;
        transform: scaleX(0);
        transform-origin: right;
        transition: 300ms transform;
    }
    .show-navbar {
        transform: scaleX(1);
        transform-origin: right;
    }
    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-item {
        margin: .5rem 0;
    }
}




/* ==================== OTHERS ================ */
.notify__btn {
    cursor: pointer;
}

.bx-arrow-back {
    transition: .5s;
    cursor: pointer;
    font-size: 26px;
    color: #263238;
}

.bx-arrow-back:hover {
    transform: rotate(60deg);
}

.b-bottom:hover {
    text-decoration: underline;
}

.btn {
    margin-right: 2em;
}
.read__more {
    font-size: 0.8em;
}
/* ==================== MAIN ================ */

.posts_article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
}

.article-content {
  white-space: pre-line;
  font-size: 22px;
  font-family: Helvetica;
  font-weight: 300;
}

.post-title {
    transition: .5s;
    font-size: 22px;
    color: rgb(48, 76, 87);
}

.post-title:hover {
    color: rgb(21, 29, 32);
}


.card-body {
    background-color: rgb(250, 250, 250);
}

.content-section {
    background-color: rgb(250, 250, 250);
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.c-post-descri {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

/* ==================== FOOTER ================ */
footer {
    width: 100%;
    background-color :#263238;
    min-height: 100px;
    padding: 10px 0px 25px 0px;
}

footer p {
    font-size:14px;
    color:#CCC;
}

.cp-credit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social_footer_ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 15px 0;
    list-style-type: none;
}

.social_footer_ul li svg { 
    width: 30px;
    height: 30px;
    margin: 0 20px;
}

.social_footer_ul li svg:hover {
    padding: 5px;
    border-radius: 50%;
    border: 1px solid #fff;
}

.footer-social-icons {
    transition: .5s;
}
.built_by {
    font-size: 16px;
    font-family: 'Indie Flower', cursive;
}
.name {
    display: flex;
    justify-content: center;
    align-items: center;
}
.my__name {
    transition: .5s;
    color: rgb(103, 112, 119);
}
.my__name:hover {
    color: #f4f4f4;
}


/*========== MEDIA QUERIES ========= */
@media screen and (max-width: 347px){
    .nav__bar {
        padding: 1em;
    }
    .bi-globe2 {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .navbar-nav {
        margin-top: 0;
    }
    .post-title {
        font-size: 26px;
    }
    .article-content {
        font-size: 24px;
    }
    .nav__item {
        transition: .5s;
        margin-bottom: 0;
        margin-right: 2em;
    }
}