
/* FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); /* Orbit */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap'); /* Mont serrat */

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* ==================== ROOT ================ */
:root {
    --primary-clr: hsl(197, 20%, 18%);
    --primary-clr-alt: hsl(197, 8%, 33%);
    --second-clr: hsl(46, 59%, 50%);
    --gray-clr: hsl(200, 10%, 94%);
    --gray-border-clr: #2532371a;
    --text-mute: hsl(196, 5%, 56%);
    --white-clr: hsl(210, 20%, 98%);
    --link-clr: #05697f;
    --link-clr-alt: #cfe2e0;
    --red-clr: #d33b25;
    --red-clr-alt: #ffd4d8;
}

/* ==================== BASE ================ */

body {
    position: relative;
    background-color: var(--white-clr);
    color: var(--primary-clr);
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.text-muted {
    color: var(--text-mute);
}
.pos-relative {
    position: relative;
}

.container {
    padding: 1.2rem 2rem;
}
/* -- buttons -- */
.btn {
    cursor: pointer;
    border: none;
    transition: 300ms color, 300ms border, 300ms background-color;
    font-size: 1.1rem;
    padding: .5rem 1rem;
    margin-top: 1.2rem;
    border-radius: 5px;
}
.btn-admin-shw {
    padding: .3rem .8rem;
}
.btn-dark {
    color: var(--white-clr);
    background-color: var(--primary-clr-alt);
    width: 8rem;
}
.btn-dark:hover {
    background-color: var(--primary-clr);
}
.btn-outline-warning {
    background-color: #fff3cd;
    color: #856404;
    border: thin solid #ffeeba;
    margin-right: 1rem;
}
.btn-outline-warning:hover {
    background-color: #ffc91a;
    color: var(--primary-clr);
    border: thin solid #ffc91a;
}
.btn-outline-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: thin solid #f5c6cb;
}
.btn-outline-danger:hover {
    background-color: #d24654;
    border: thin solid #d24654;
    color: var(--white-clr);
}

/* ==================== HEADER ================ */
header {
    background-color: #253237;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 2rem;
}
@media screen and (min-width: 1400px){
    .container {
        padding: 1.2rem 10rem;
    }

    header {
        padding: 1.5rem 10rem;
    }
}
@media screen and (min-width: 2000px){
    .container {
        padding: 1.2rem 30rem;
    }

    header {
        padding: 1.5rem 30rem;
    }
}
.logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    color: var(--white-clr);
}
.logo b {
    color: var(--second-clr);
}
.bx-menu, .bx-x {
    cursor: pointer;
    color: var(--white-clr);
    font-size: 2.2rem;
}
.nav-icons {
    display: none;
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-item {
    margin: 0 1rem;
}
.nav-link {
    color: var(--white-clr);
    font-size: 1.2rem;
    letter-spacing: .02rem;
    position: relative;
    padding-bottom: .2rem;
}
.nav-link::before, .nav-link-footer::before {
    content: "";
    background-color: var(--second-clr);
    width: 100%;
    height: .15rem;
    position: absolute;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: 300ms transform;
}
.nav-link:hover::before, .nav-link-footer:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 1.2rem .5rem;
    }
    /* --- -- -- -- -- -- -- */
    header {
        padding: 1.2rem .5rem;
    }
    .nav-icons {
        display: block;
    }
    .bx-x {
        display: none;
        font-size: 2.3rem;
    }
    .show-icon {
        display: block;
    }
    .hide-icon {
        display: none;
    }
    .nav-bar {
        background-color: var(--primary-clr);
        border-bottom-left-radius: 1px;
        padding: .8rem .9rem;
        position: absolute;
        top: 4rem;
        right: .3rem;
        transform: scaleX(0);
        transform-origin: right;
        transition: 300ms transform;
    }
    .show-navbar {
        transform: scaleX(1);
        transform-origin: right;
    }
    .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-item {
        margin: .5rem 0;
    }
}

/* ----- STYLES OF CONTACT PAGE ------ */
.section-top {
    margin-bottom: 3rem;
    border-bottom: thin solid var(--gray-border-clr);
    padding-bottom: .3rem;
}
.section-top h2 {
    font-size: 1.8rem;
    color: var(--primary-clr);
    margin-bottom: .7rem;
}
.section-top p {
    max-width: 40rem;
}

/* ==================== FOOTER ================ */
.footer {
    background-color: var(--gray-clr);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "footer-items"
                         "social-footer-ul"
                         "end-footer";
    padding: 2rem 0;
}
.footer-items {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-area: footer-items;
    margin-bottom: 1rem;
}
.footer-item {
    font-size: 1.2rem;
    margin: .3rem 0;
}
.nav-link-footer {
    color: var(--primary-clr);
}
.social-footer-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    grid-area: social-footer-ul;
}
.social-item {
    margin: 0 .5rem;
}
.bxl-twitter,
.bxl-instagram {
    color: var(--primary-clr-alt);
    font-size: 1.8rem;
}
.bxl-twitter:hover,
.bxl-instagram:hover {
    color: var(--primary-clr);
}

.end-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.copyright {
    margin-bottom: .5rem;
}
.copyright, .built_by {
    font-size: .9rem;
}
.my__name {
    color: var(--link-clr);
}
.my__name:hover {
    color: var(--second-clr);
    text-decoration: underline;
}

@media screen and (min-width: 768px){
    .footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "end-footer footer-items social-footer-ul";
        padding: 1rem 0;
    }
    .footer-items {
        flex-direction: row;
        margin-bottom: 0;
    }
    .footer-item {
        margin: 0 1rem;
    }
    .social-footer-ul {
        margin-bottom: 0;
    }
    .bxl-twitter,
    .bxl-instagram {
        font-size: 1.5rem;
    }
    .copyright,
    .built_by {
        font-size: .6rem;
    }
    .copyright {
        margin-bottom: .6rem;
    }
}

